.container {
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mainImageContainer {
    height: 450px;
}

.mainImage {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 450px;
    object-fit: cover;
    z-index: -1;
}
