.container {
    display: flex;
    flex-direction: column;
    row-gap: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
    border-right: 1px solid var(--mantine-color-gray-3);
    height: calc(100vh - 100px);
    justify-content: space-between;
}
