.container {
    display: flex;
    flex-direction: column;
    row-gap: var(--mantine-spacing-lg);
    border-right: 1px solid var(--mantine-color-gray-3);
    justify-content: space-between;
    width: 250px;
    flex-shrink: 0;
    padding: var(--mantine-spacing-lg) var(--mantine-spacing-md);
}
