.container {
    display: flex;
    column-gap: var(--mantine-spacing-md);
    border: var(--mantine-color-gray-2) 1px solid;
    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-md);
}

.datePickerContainer {
    display: flex;
    flex-direction: column;
}

.datePicker {
    font-size: var(--mantine-font-size-lg);
}

.timePicker {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}

.slotContainer {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
}
